// setting
$maxWidthSize: 750;

//function
@function rem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}


body {
  font-size: rem(16);
}
.main_header{
  width: 100%;
  max-width: rem($maxWidthSize);
  margin: 0 auto;
  .main_title{
    font-size: rem(24)
  }
}
.main_content{
  width: 100%;
  max-width: rem($maxWidthSize);
  margin: 0 auto;
}